.sectioln-friend-list-large {
	width: 100%;
}

.friend-list-large {
	width: 500px;
	margin: 50px auto;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	color: #FFF;
}

.friend-list-table {
	display: table;
}

.friend-list-table ul li {
	margin: 15px 50px;
}

.friend-left {
	display: table-cell;
	width: 80px;
	text-align: center;
	vertical-align: middle;
}

.friend-middle {
	display: table-cell;
	width: 220px;
	text-align: left;
	vertical-align: middle;
}

.friend-right {
	display: table-cell;
	width: 100px;
	text-align: right;
	vertical-align: middle;
}

.friend-right > button {
	background-color: #f68e56;
    border-radius:14px;
    border: 0;
    display:inline-block;
    color:#FFF;
    font-family:"Apple LiSung Light";
    font-size:0.875rem;
    font-weight: bold;
    font-style:normal;
    height:29px;
    width: 100px;
    line-height:25px;
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}